@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="card">
  <div class="card-header">
    Olá
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Temos o Carro que você procura.</p>
      <p>Confia!!!</p>
    </blockquote>
  </div>
</div>
</section>